.input-field {
    background: #ffffff;
    border: 1px solid grey;
    border-radius: 2px;
    font-size: 24;
    padding: 0 10px;
    width: 100%;
    display: flex;
    z-index: 3;
    width: 200px;
    box-sizing: border-box;

    &:focus {
        box-shadow: none;
        outline: none;
    }
}
